name: Node Upgrade

on:
  push:
    branches: [renovate/node**]

jobs:
  check:
    name: 'propagate node upgrade'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          # https://medium.com/prompt/trigger-another-github-workflow-without-using-a-personal-access-token-f594c21373ef
          ssh-key: ${{ secrets.COMMIT_KEY }}
        # https://github.com/marketplace/actions/setup-node-js-environment
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: 'pnpm'
          node-version: '24.11.1'
      - name: Install
        run: pnpm install --ignore-scripts --frozen-lockfile
      - name: Update Node
        run: pnpm pj
      - name: Commit Changes
        run: |
          git config user.name mergewhether
          git config user.email bot@risto.io
          git commit -am "Propagate node upgrade" || exit 0
          git push
          exit 1
