name: Static Analysis

on:
  push:
    branches: [main, transitive**]
    paths-ignore:
      - ".github/**"
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: "analyze"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: "pnpm"
          node-version: "24.13.0"
      - name: Install
        run: pnpm install
      - name: Generate types
        run: pnpm build:types
      - name: Typecheck
        run: pnpm tc
      - name: ESLint
        if: ${{ always() }}
        run: pnpm lint:es
      - name: Prettier
        if: ${{ always() }}
        run: pnpm lint:md
