name: Static Analysis

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    name: 'analyze'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          cache: 'pnpm'
          node-version: '24.11.1'
      - name: Install
        run: pnpm install
      - name: Generate types
        run: pnpm build:types
      - name: Typecheck
        run: pnpm tc
      - name: ESLint
        if: ${{ always() }}
        run: pnpm lint:es
      - name: Prettier
        if: ${{ always() }}
        run: pnpm lint:md
