name: Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Next Version'
        required: true

jobs:
  Version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ssh-key: ${{ secrets.COMMIT_KEY }}
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: '24.12.0'
      - name: Version
        run: |
          git config user.name mergewhether
          git config user.email bot@risto.io
          pnpm version --new-version ${{ github.event.inputs.version }}
          git push --follow-tags
          echo "Version bumped to v${{ github.event.inputs.version }}" >> $GITHUB_STEP_SUMMARY
